<div class="app-body">
    <h1>Contactame!</h1>
    <mat-grid-list cols="3" rowHeight="2:2">
        <mat-grid-tile>
            <a href="https://github.com/damscassiani1994" mat-flat-button class="btn-contact github" target="_black">
            </a>
        </mat-grid-tile>
        <mat-grid-tile>
            <a href="https://www.linkedin.com/in/damaso-salgado-cassiani-31a187101/" 
                mat-flat-button class="btn-contact linkeind" target="_black">
            </a>
        </mat-grid-tile>
        <mat-grid-tile>
            <a  href="https://twitter.com/CassianiDamaso" mat-flat-button class="btn-contact twitter" target="_black">
            </a>
        </mat-grid-tile>
    </mat-grid-list>
</div>