<div class="app-body">
    <h1>Historial de carrera</h1>
    <div class="cards-body">
        <mat-grid-list cols="3" rowHeight="2:2">
            <mat-grid-tile>
                <mat-card class="example-card">
                    <mat-card-header>
                      <mat-card-title class="text-experience">Ese Hospital Local Cartagena de indias.</mat-card-title>
                      <mat-card-subtitle>Desarrollador Full Stack.</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="../../../assets/images/esehospital.png">
                    <mat-card-content>
                      <p>
                        Apr. 2016 – Nov. 2018
                      </p>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card class="example-card">
                    <mat-card-header>
                      <mat-card-title class="text-experience">Tata consultancy services, Medellín, Colombia.</mat-card-title>
                      <mat-card-subtitle>Desarrollador Java - Angular.</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image src="../../../assets/images/tcs.png">
                    <mat-card-content>
                      <p>
                        Dec. 2018 – Nov 2019
                      </p>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-card class="example-card">
                    <mat-card-header>
                      <mat-card-title class="text-experience">Personal Soft, Medellin, Colombia.</mat-card-title>
                      <mat-card-subtitle>Analista Ing de Software 1.</mat-card-subtitle>
                    </mat-card-header>
                    <img mat-card-image class="card-image" src="../../../assets/images/personalsoft.png">
                    <mat-card-content>
                      <p>
                        Nov 2019 - Abr 2022
                      </p>
                    </mat-card-content>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile>
              <mat-card class="example-card">
                  <mat-card-header>
                    <mat-card-title class="text-experience">RobinFood, Medellin, Colombia</mat-card-title>
                    <mat-card-subtitle>Desarrollador BackEnd.</mat-card-subtitle>
                  </mat-card-header>
                  <img mat-card-image class="card-image" src="../../../assets/images/robinfood.png">
                  <mat-card-content>
                    <p>
                      Abr 2022 - Agosto 2022
                    </p>
                  </mat-card-content>
              </mat-card>
          </mat-grid-tile>
          <mat-grid-tile>
            <mat-card class="example-card">
                <mat-card-header>
                  <mat-card-title class="text-experience">Keyrus - Make data matter. Medellin, Colombia.</mat-card-title>
                  <mat-card-subtitle>Desarrollador BackEnd.</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image class="card-image" src="../../../assets/images/keyrus.jpeg">
                <mat-card-content>
                  <p>
                    Agosto 2022 - Actualmente
                  </p>
                </mat-card-content>
            </mat-card>
        </mat-grid-tile>
        </mat-grid-list>
    </div>
    
</div>

