<div class="app-body">
    <h1>Sobre M&iacute;</h1>
    <p>Tecnologo en desarrollo de sistemas de informaci&oacute;n, graduado de la fundacion universitaria
        tecnologico de comfenalco. Tengo una experiencia laboral de 5 años.</p>

    <p>
        Tengo experiencia en el desarrollo de software web y de escritorio con lenguajes como Java y JavaScript y he trabajado con los sistemas de base de datos; postgresql, mysql, mongodb y redis.
    </p>
    <p>Me caracterizo por
        ser responsable, dedicado y con habilidades de autoaprendizaje y 
        con ganas de aprender m&aacute;s cada d&iacute;a
    </p>

    <p>He participado en grandes proyectos tanto en el sector de la salud y en el sector financiero</p>
</div>
